[submodule "vendor/sound-separation"]
	path = vendor/sound-separation
	url = https://github.com/google-research/sound-separation.git
[submodule "vendor/BirdNET-Analyzer"]
	path = vendor/BirdNET-Analyzer
	url = https://github.com/kahst/BirdNET-Analyzer.git
