-f https://download.pytorch.org/whl/cu116/torch_stable.html
-e file:./[dev,workflow,onnx,tensorflow-opt]

# notebooking, specific dependencies for windows
pywin32; sys_platform == 'win32'
pywinpty; sys_platform == 'win32'
