-f https://download.pytorch.org/whl/cu116/torch_stable.html
-e file:./
torch
torchvision
torchaudio

# tensorflow to pytorch conversion
tensorflow
tensorboard
tf2onnx
onnx
onnxruntime

# workflow management
luigi
docker
google-cloud-batch

# notebooking
jupyterlab
git+https://github.com/dnanhkhoa/nb_black.git@be0c810503867abc4a5e9d05ba75a16fce57dfee
pywin32; sys_platform == 'win32'
pywinpty; sys_platform == 'win32'

# misc
pre-commit

# testing
pytest
