# https://luigi.readthedocs.io/en/stable/central_scheduler.html#the-luigid-server
# NOTE: task history doesn't work with sqlite because of sqlalchemy issues creating the tables
[scheduler]
# record_task_history = True
state_path = /app/luigi-state.pickle

# [task_history]
# db_connection = sqlite:////app/luigi-task-hist.db
